<!DOCTYPE html>
<html>
    <head>
        <title>New Articles</title>
    </head>
    <body>
        <p>Current Article Title: <%= @article.title %> </p>
        <p>Current Article Content: <%= @article.content %> </p>
        <form method="POST" action="/articles/<%= @article.id%>">
            <input id="hidden" type="hidden" name="_method" value="patch">
            <label for="title">Updated Article Title:</label>
            <input type="text" name="title">
            <label for="content">Updated Article Content:</label>
            <input type="text" name="content">
            <input type="submit" value="submit">
        </form>
    </body>
</html>