<h1>New Articles:</h1>
<form method="POST" action="/articles">
<label>Title:</label>
<input type="text" name="title" placeholder="type title here">
<br>
<br>
<label>Content:</label>
<input type="text" name="content" placeholder="type your content">
<br>
<br>
<input type="submit" value="Submit">
</form>
