<form action="/articles" method="POST">
<label for="title">Enter your Title:</label>
<input type="text" id="title" name='title'>
<br/>
<label for="content">Enter your Content:</label>
<input type="text" id="content" name='content'>
<br/>
<input type="submit">
</form>