<!DOCTYPE html>
<html lang="en">

<body>
    <p><%= @article.title %></p>
    <p><%= @article.content %></p>
</body>
</html>
<form method="post" action="/articles/<%= @article.id %>"
>
<input id="hidden" type="hidden" name="_method" value="delete">
<button type="submit">Delete</button>
</form>